:root {
    --forest-green:#344e41;
    --sage: #a3b18a;
    --cream: #eae6e0;
    --dark-green: #111d13;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    background-image: linear-gradient(var(--cream), var(--sage), var(--forest-green));
    font-family: 'Open Sans', sans-serif;    
}



/* MEDIA QUERIES */
/* Mobile Device */
@media screen and (min-width: 320px) and (max-width: 768px) {
    li a {
        display: none;
    }
}

/* Laptop */
@media screen and (min-width: 768px) and (max-width: 1024px){

}

/* HEADER */
.pm-logo {
    width: 250px;
}

header {
    background-color: var(--cream);
    font-family: "Dosis", sans-serif; 
    
}
 
.nav-list {
    display: inline-block;
    margin: 0 110px; 
    padding-bottom: 10px;
    
}

li a {

    text-decoration: none;
    color: var(--dark-green);
}

.login {
    display:block;
    position: absolute;
    top: 55px;
    right: 25px;
    text-decoration: none;
    color: var(--dark-green)

}

.fa-bars, .fa-solid {
    display:block;
    position: absolute;
    top: 75px;
    right:65px;
    color: var(--sage)

}


/* FOOTER */

.footer {
    background-color: var(--forest-green);
    width: 900px;
}


.postpartum-momma-footer-logo {
    width: 180px;
    clip-path: circle(50% at 50% 50%);
    position:relative;
    bottom:30px;
    left: 670px;
}

.footer-text {
    font-family: "Dosis", sans-serif;
    
    
}

/* HOME PAGE */
.anaidys-photo {
    width:
    
}

/* unvisited link */
a:link {
    color:var(--dark-green)   
 }

  /* visited link */
a:visited {
    color: var(--forest-green);

}

 /* mouse over link */
a:hover {
    font-weight:bold;
    color:var(--sage)  
}

 /* selected link */
a:active {
    font-weight:bold;
    color: var(--forest-green);
    background-color: var(--sage);  
}






