:root {
    --forest-green:#344e41;
    --sage: #a3b18a;
    --cream: #eae6e0;
    --dark-green: #111d13;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    background-image: linear-gradient(var(--cream), var(--sage));
    font-family: 'Dosis', sans-serif;    
}


/* --------------------------------------------------
[HEADER] */

.pm-logo {
    width: 250px;
}

header {
    background-color: var(--cream);
    font-family: "Dosis", sans-serif; 
    border-bottom: solid 2px var(--forest-green);
    width: 100%;
    
}
 
.nav-list {
    display: inline-block;
    margin: 0 110px; 
    padding-bottom: 10px;
    
}

li a {

    text-decoration: none;
    color: var(--dark-green);
}

.login {
    display:block;
    position: absolute;
    top: 55px;
    right: 25px;
    text-decoration: none;
    color: var(--dark-green)

}

.fa-bars, .fa-solid {
    display:block;
    position: absolute;
    top: 75px;
    right:65px;
    color: var(--sage)

}


/* --------------------------------------------------
[FOOTER] */

.footer {
    background-color: var(--forest-green);
    width: 100%;
    margin: 0 auto;
}

.postpartum-momma-footer-logo {
    width: 175px;
    /* clip-path: circle(50% at 50% 50%); */
    position:relative;
    bottom:15px;
    left:  40px;
}

.footer-quote {
    font-family: "Ephesis", cursive; 
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    bottom: 20px;
    /* left: 90px; */
    color: var(--sage);

}

.row-text-footer {
    display: flex; 
    justify-content: space-evenly;
    padding-top: 50px;

}
.footer-text {
    font-family: "Dosis", sans-serif;
    display: inline-block;
    color: var(--sage);
    text-align: center; 
    
}


/* --------------------------------------------------
[HOME PAGE */

.welcome {
  font-family: "Ephesis", cursive; 
  font-size: 100px;
  color: var(--white);
  line-height: 1.2;
  text-align: center;
  display: block;
}

/* --------------------------------------------------
[ABOUT US PAGE */

/* [MEET THE TEAM CONTAINER] */
.anaidys-photo {
    width: 150px;
    clip-path: circle(40% at 50% 50%);
}

.tatiana-photo {
    width: 200px;
    clip-path: circle(40% at 50% 50%);
}

.mayreny-photo {
    width: 150px;
    clip-path: circle(45% at 50% 50%);
}

.tatiana-name-photo {
  color:#344e41;
  position: relative;
  right: 20px;
  font-family: "Ephesis", cursive;
  font-size: 1.5rem;
}
  

.name-photo {
  display: flex;
  flex-direction: column;
  color:#344e41;
  font-family: "Ephesis", cursive;
  font-size: 1.5rem;

}

.info {
  position: relative;
  top: 75px;


}
.team-blurb {
  display: flex;
  text-align: center;
  padding-top: 40px;
}

/* [HOW WE STARTED CONTAINER] */
.origin-story {
    border:solid 3px var(--forest-green);
    border-radius: 15px;
    background-color:var(--cream);
    margin: 30px; 
    padding: 20px;
}

.origin-text {
    padding: 25px;
    font-family: "Dosis", sans-serif; 
}

/* [ABOUT US CONTAINER] */
.about-us {
    display: flex;
    flex-direction: column;
    border:solid 3px var(--forest-green);
    border-radius: 15px;
    background-color:var(--cream);
    margin: 30px;
    padding: 20px;
    font-family: "Dosis", sans-serif; 
}



/* [BELIEFS CONTAINER] */
.beliefs {
    display:flex;
    flex-direction: column;
    border:solid 3px var(--forest-green);
    border-radius: 15px;
    background-color:var(--cream);
    margin: 30px;
    padding: 10px;

}

.beliefs-row {
    display: flex; 
    
    padding: 35px;
    
}

.beliefs-text {
    text-align: center;
    font-family: "Dosis", sans-serif; 

    
}
.beliefs-icons {
    color: var(--forest-green)
}

h2 {
    text-align: center;
    color: #111d13;
    font-family: "Ephesis", cursive;
    font-size: 2rem;
}

/* -------------------------------------------------
[LINK STYLING} */
/* unvisited link */
a:link {
    color:var(--dark-green)   
 }

  /* visited link */
a:visited {
    color: var(--forest-green);

}

 /* mouse over link */
a:hover {
    font-weight:bold;
    color:var(--sage)  
}

 /* selected link */
a:active {
    font-weight:bold;
    color: var(--forest-green);
    background-color: var(--sage);  
}

/* --------------------------------------------------
[LOGIN PAGE} */

label {
  display: block;
  margin: 0;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/* [TEXT STYLING] */
.txt1 {
  font-family: "Dosis", sans-serif;
  font-size: 13px;
  line-height: 1.4;
  color: var(--forest-green);
  position: relative; 
  left: 350px;
  bottom:25px;
}

.txt2 {
  font-family:"Dosis", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: var(--forest-green);
}

.sign-up {
    text-align: center;
    padding-top: 40px;
}

/*----------------------------------------------------
[ LOGIN CONTAINER]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--cream);
}


.wrap-login {
  width: 100%;
  background: var(--cream);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

/*-----------------------------------------------------
[ LOGIN PHOTO ]*/
.login-more {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.login-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}



/*-----------------------------------------------------
[ FORM]*/

.login-form {
  width: 560px;
  min-height: 100vh;
  display: block;
  background-color: #f7f7f7;
  padding: 173px 55px 55px 55px;
}

.login-form-title {
  width: 100%;
  display: block;
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  color: var(--forest-green);
  line-height: 1.2;
  text-align: center;
}



/*------------------------------------------------------------------
[ INPUT ]*/

.wrap-input {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.label-input {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: var(--forest-green);
  line-height: 1.2;
  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 24px;
  left: 0;
  top: 30px;

}

.input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: var(--dark-green);
  line-height: 1.2;
  padding: 0 26px;
}

input.input {
  height: 100%;

}


.focus-input {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid var(--forest-green);
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;
  
}

.input:focus + .focus-input {
  visibility: visible;
  opacity: 1;

  
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

 
}

.input:focus {
  height: 48px;
}

.input:focus + .focus-input + .label-input {
  top: 14px;
  font-size: 13px;
}

.has-val {
  height: 48px !important;
}

.has-val + .focus-input + .label-input {
  top: 14px;
  font-size: 13px;
}

/*----------------------------------------------------
[ CHECKBOX STYLING ]*/

.input-checkbox {
  display: none;
}

.label-checkbox {
  font-family: "Dosis", sans-serif;
  font-size: 13px;
  color: var(--dark-green);
  line-height: 1.4;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;


  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: var(--cream);
  border: 1px solid var(--dark-green);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox:checked + .label-checkbox::before {
  color: var(--forest-green);
}


/*------------------------------------------------------------------
[ BUTTON ]*/
.container-login-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: var(--forest-green);

  font-family: "Dosis", sans-serif;
  font-size: 15px;
  color: var(--white);
  line-height: 1.2;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-form-btn:hover {
  background: var(--sage);
}

/* -------------------------------------------------
[FOR MOMMAS/BABY HOMEPAGE PAGE] */

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-main {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

.container-main::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(118, 116, 116, 0.65);
}

.wrap-main {
  width: 390px;
  border-radius: 10px;
  overflow: hidden;
  background: transparent;
}

.main-quote {
  font-family: "Ephesis", cursive; 
  font-size: 35px;
  color: var(--white);
  line-height: 1.2;
  text-align: center;
  display: block;
}

/* --------------------------------------------------
[FEEDING PAGE */


/* [HOW WE STARTED CONTAINER] */
.container1 {
  border:solid 3px var(--forest-green);
  border-radius: 15px;
  background-color:var(--cream);
  margin: 30px; 
  padding: 20px;
}

.container1-text {
  padding: 25px;
  font-family: "Dosis", sans-serif; 
}

.container2 {
  display: flex;
  flex-direction: column;
  border:solid 3px var(--forest-green);
  border-radius: 15px;
  background-color:var(--cream);
  margin: 30px;
  padding: 20px;
  font-family: "Dosis", sans-serif; 
}

.formula { 
  width: 150px;
}

h3 {
  text-align: center;
}

.container-item { 
  display: flex;
}




















/* ------------------------------------------------------[MEDIA QUERIES] */

/* [MOBILE DEVICE]] */
@media screen and (min-width: 320px) and (max-width: 768px) {
  li a {
      display: none;
  }
}

/* [LAPTOP] */
@media screen and (min-width: 768px) and (max-width: 1024px){

}