:root {
    --forest-green:#344e41;
    --sage: #a3b18a;
    --cream: #eae6e0;
    --dark-green: #111d13;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    background-image: linear-gradient(var(--cream), var(--sage));
    font-family: 'Open Sans', sans-serif;    
}



/* MEDIA QUERIES */
/* Mobile Device */
@media screen and (min-width: 320px) and (max-width: 768px) {
    li a {
        display: none;
    }
}

/* Laptop */
@media screen and (min-width: 768px) and (max-width: 1024px){

}

/* HEADER */
.pm-logo {
    width: 250px;
}

header {
    background-color: var(--cream);
    font-family: "Dosis", sans-serif; 
    border-bottom: solid 2px var(--forest-green);
    
}
 
.nav-list {
    display: inline-block;
    margin: 0 110px; 
    padding-bottom: 10px;
    
}

li a {

    text-decoration: none;
    color: var(--dark-green);
}

.login {
    display:block;
    position: absolute;
    top: 55px;
    right: 25px;
    text-decoration: none;
    color: var(--dark-green)

}

.fa-bars, .fa-solid {
    display:block;
    position: absolute;
    top: 75px;
    right:65px;
    color: var(--sage)

}


/* FOOTER */

.footer {
    background-color: var(--forest-green);
    width: 100%;
    border-top: solid 2px var(--cream);
}

.postpartum-momma-footer-logo {
    width: 175px;
    /* clip-path: circle(50% at 50% 50%); */
    position:relative;
    bottom:15px;
    left:  40px;
}

.footer-quote {
    position: relative;
    bottom: 20px;
    left: 150px;
    color: var(--sage);

}

.row-text-footer {
    display: flex; 
    justify-content: space-evenly;
    padding-top: 50px;

}
.footer-text {
    font-family: "Dosis", sans-serif;
    display: inline-block;
    color: var(--sage);
    text-align: center; 
    
}

/* HOME PAGE */
.anaidys-photo {
    width: 150px;
    clip-path: circle(40% at 50% 50%);
}

.tatiana-photo {
    width: 200px;
    clip-path: circle(40% at 50% 50%);
}

.mayreny-photo {
    width: 150px;
    clip-path: circle(45% at 50% 50%);
}

.jasmine-photo {
    width: 150px;
    clip-path: circle(50% at 50% 50%);
}

.origin-story {
    border:solid 3px var(--forest-green);
    border-radius: 15px;
    background-color:var(--cream);
    margin: 30px; 
    padding: 20px;
}

.about-us {
    display: flex;
    flex-direction: column;
    border:solid 3px var(--forest-green);
    border-radius: 15px;
    background-color:var(--cream);
    margin: 30px;
    padding: 20px;
}

.tatiana-name-photo {
    color:#344e41;
    position: relative;
    right: 20px;
}
    

.name-photo {
    display: flex;
    flex-direction: column;
    color:#344e41

}

.info {
    position: relative;
    top: 75px;


}
.team-blurb {
    display: flex;
    text-align: center;
    padding-top: 40px;
}

.beliefs {
    border:solid 3px var(--forest-green);
    border-radius: 15px;
    background-color:var(--cream);
    margin: 30px;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #111d13;
}


/* unvisited link */
a:link {
    color:var(--dark-green)   
 }

  /* visited link */
a:visited {
    color: var(--forest-green);

}

 /* mouse over link */
a:hover {
    font-weight:bold;
    color:var(--sage)  
}

 /* selected link */
a:active {
    font-weight:bold;
    color: var(--forest-green);
    background-color: var(--sage);  
}






